@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    padding: 20px;
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], input[type="submit"] {
    width: 100%; 
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0080ff;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0061c1;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

#voltar{
	font-size: small;
	margin-top: 50px!important; 
	padding: 10px;
	background-color: #0080ff;
	border-radius: 4px;
	color: white;
	cursor: pointer;

}

#voltar:hover{
	text-decoration: none;
	background-color: #0061c1; 
	
}

#voltarDiv{
	display: flex;
	justify-content: center;
}

